.brands {
	padding-top: rem-calc(72);
	padding-bottom: rem-calc(72);
	text-align: center;
	background: $secondary-color-5;

	.major-header {
		margin: 0;

		h2 {

			@include breakpoint(small only) {
				margin: 0;
			}

		}

	}

}

.brands-sections {

	h4 {
		margin-top: rem-calc(4.8);
		margin-bottom: rem-calc(36);
	}

	h3,
	h4 {
		text-shadow: 0 1px 4px rgba($black, 0.6);
		letter-spacing: rem-calc(12);
	}

	h3,
	hr {
		margin: 0;
	}

	.logo-box {

		.logo-svg-container {
			color: $body-font-color;
			margin: 0;

			@include breakpoint (small only) {
				@include absolute-center;
			}

		}

		.logo-svg {
			width: rem-calc(243);
			height: rem-calc(243);
		}

		a {
			display: block;
			width: rem-calc(120);
			margin: 0 auto;
		}

	}

}

.brand {
	position: relative;
	z-index: 1;
}

.views-row-odd {

	.text {
		@extend .split-box-left;
		color: $white;

		.row-split {
			padding-right: 6%;
		}

		h3 {
			color: $white;
		}

		h4 {
			color: rgba($white, 0.7);
		}

		.text-overlay {
			background: rgba($black, 0.6);
		}

	}

	.logo {
		@extend .split-box-right;

		&:before {
			left: -20%;
		}

	}

}

.views-row-even {

	.text {
		@extend .split-box-right;
		color: $secondary-color;

		.row-split {
			padding-left: 6%;
		}

		h3 {
			color: $secondary-color;
		}

		hr {
			border-bottom: 1px solid $secondary-color-50;
		}

		h4 {
			color: rgba($secondary-color, 0.7);
		}

		.text-overlay {
			background: rgba($white, 0.7);
		}

	}

	.logo {
		@extend .split-box-left;

		&:before {
			right: -20%;
		}

	}

}

.views-row-even,
.views-row-odd {

	.text,
	.logo {
		min-height: rem-calc(480);
	}

	.text {
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: $base;
		position: relative;
		z-index: 2;

		p {
			font-size: inherit;
			text-transform: inherit;
			font-weight: inherit;
			margin-top: 0;
			margin-bottom: $paragraph-margin-bottom;
		}

		.text-overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			z-index: -1;
		}

		@include breakpoint(small only) {
			height: auto !important;

			.row-split {
				padding: rem-calc(0);
			}

		}

	}

	.logo {
		position: relative;
		z-index: 1;

		@include breakpoint(small only) {
			height: rem-calc(340) !important;
		}

		&:before {
			content: '';
			position: absolute;
			width: 120%;
			height: 100%;
			top: 0;
			z-index: -1;
			background: linear-gradient(to top, $white 0%, $gainsboro 100%);

			@include breakpoint(small only) {
				width: 100%;
				height: 120%;
				top: -20%;
				left: 0;
				right: 0;
			}

		}

	}

}