// regular pages

.page-links {
	color: inherit;
	border-bottom: $tertiary-color 2px solid;

	&:hover,
	&:focus {
		color: $body-font-color;
		background-color: $tertiary-color;
	}

}

.regular-page {
	padding-top: rem-calc(72);
	padding-bottom: rem-calc(72);

	a {

		&:not([class]),
		&.nowrap {
			@extend .page-links;
		}

	}

	img {
		border-radius: $global-radius;
		width: 100%;
	}

	figure {
		color: $white;
		margin-bottom: rem-calc(36);
	}

}

.major-header {
	border-bottom: solid 1px $charcoal;
	margin: rem-calc(0 0 36 0);
	padding-bottom: rem-calc(8);
	position: relative;

	&:after {
		content: '';
		display: block;
		border-bottom: solid 1px $charcoal;
		height: rem-calc(18);
	}

	h2 {

		@include breakpoint(small only) {
			margin-bottom: rem-calc(40);
		}

		@include medium-portrait {
			margin-bottom: rem-calc(40);
		}

	}

	.catalogue-link {
		position: absolute;
		right: 0;
		top: rem-calc(12);

		@include breakpoint(small only) {
			right: 50%;
			transform: translateX(50%);
			bottom: rem-calc(30);
			top: revert;
		}

		@include medium-portrait {
			right: 50%;
			transform: translateX(50%);
			bottom: rem-calc(30);
			top: revert;
		}

	}

}

// category styles

.categories {
	background-image: url("#{$asset-path}/img/grey-bg.png");
	background-color: $iron;
	@extend .regular-page;

	&:nth-child(odd) {
		background-image: none;
		background-color: $white;
	}

}

.categories,
.view-safety-data-sheets-main,
.view-product-data-sheets-main,
.view-id-product_ranges {
	text-align: center;

	p {
		font-size: header-size(medium, h4);
		text-transform: uppercase;
		font-family: $header-font-family;
		font-weight: $global-weight-bold;
		margin-top: rem-calc(30);
		margin-bottom: rem-calc(48);
	}

	h3 {
		margin-top: rem-calc(20);
		margin-bottom: rem-calc(48);

		@include breakpoint(medium down) {
			overflow-wrap: break-word;
			word-wrap: break-word;
			hyphens: auto;
		}

	}

	a {

		h3 {
			color: $anchor-color-hover;
		}

		&:hover,
		&:focus {

			h3 {
				color: $anchor-color;
			}

			.cat-overlay {
				opacity: 1;
			}

		}

	}

}

.laundry-cat,
.industrial-cat,
.education-cat,
.transport-cat,
.healthcare-cat,
.food-processing-cat,
.cleaning-maintenance-cat,
.foodservice-hospitality-cat,
.silhouette-logo {
	fill: currentColor;
}

.prod-cat,
.brand-cat {
	background: $secondary-color;
	border-radius: $global-radius;
	position: relative;
}

.brand-cat {
	padding: rem-calc(36);

	svg {

		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			width: rem-calc(224);
		 	height: rem-calc(192);
		}

	}

}

.prod-cat {
	padding: rem-calc(10);

	svg {

		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			width: rem-calc(224);
		 	height: rem-calc(224);
		}

	}

}

.cat-overlay {
	background: rgba($tertiary-color, 0.8);
	color: $secondary-color;
	font-size: rem-calc(map-deep-get($header-styles, 'medium', 'h5', 'font-size') * 1px);
	font-weight: $global-weight-bold;
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: $transition-time;
	display: flex;
	align-items: center;
	width: 100%;
	border-radius: inherit;

  	&:hover,
  	&:focus {
  		opacity: 1;
  	}

	span {
		text-align: center;
		width: 100%;
	}

}

.view-content > ul,
ul.view-content {
	@extend .no-bullet;
}

.dropdown.menu {

	> {

		li.is-dropdown-submenu-parent {

			> a {

				&:hover {

					&:after {
						border-color: $body-font-color transparent transparent;
					}

				}

			}

		}

	}

}

// split sections

.split-boxes {
	@include clearfix();

	.medium-4 {

		.row-split {
			max-width: ($global-width * 0.333333 - ($grid-column-gutter-medium / 2));
			width: 100%;

			@include breakpoint(small only) {
				max-width: $global-width;
			}

		}

	}

	.medium-5 {

		.row-split {
			max-width: ($global-width * 0.416667 - ($grid-column-gutter-medium / 2));
			width: 100%;

			@include breakpoint(small only) {
				max-width: $global-width;
			}

		}

	}

	.medium-6 {

		.row-split {
			max-width: ($global-width * 0.5 - ($grid-column-gutter-medium / 2));
			width: 100%;

			@include breakpoint(small only) {
				max-width: $global-width;
			}

		}

	}

	.medium-7 {

		.row-split {
			max-width: ($global-width * 0.583333 - ($grid-column-gutter-medium / 2));
			width: 100%;

			@include breakpoint(small only) {
				max-width: $global-width;
			}

		}

	}

	.medium-8 {

		.row-split {
			max-width: ($global-width * 0.666667 - ($grid-column-gutter-medium / 2));
			width: 100%;

			@include breakpoint(small only) {
				max-width: $global-width;
			}

		}

	}

	.large-6 {

		@include breakpoint(large up) {

			.row-split {
				max-width: ($global-width * 0.5 - $grid-column-gutter-medium);
				width: 100%;

				@include breakpoint(small only) {
					max-width: $global-width;
				}

			}

		}

	}

}

.split-box-left {

	.row-split {
		float: right;
	}

}

.split-box-right {

	.row-split {
		float: left;
	}

}

// downloads

.download {
	font-size: rem-calc(map-deep-get($header-styles, 'medium', 'h4', 'font-size') * 1px);
}

// user profile page

.profile {
	margin: rem-calc(30 0);
}

.page-user,
.profile {

	h3 {
		border-bottom: 1px solid $medium-gray;
	}

}

.page-user {

	.view-safety-data-sheets-main,
	.view-product-data-sheets-main {
		text-align: left;
	}

}

// User profile page

.page-user-edit {

	.form-item {
		@extend .m-b-30;
	}

	legend {
		@extend .hide;
	}

}

input.password-confirm,
input.password-field {
	width: 50%;
}

.password-strength,
div.password-confirm {
	float: right;
	width: 46%;
	margin-top: rem-calc(20);
}

.password-strength-title,
.password-strength-text,
div.password-confirm {
	font-size: $form-label-font-size;
}

div.password-confirm {

	span {
		font-weight: $global-weight-bold;
	}

}

.password-strength-text {
	float: right;
	font-weight: $global-weight-bold;
}

.password-strength {

	.password-indicator {
		background-color: $iron;
		height: 0.3em;
		width: 100%;

		.indicator {
			height: 100%;
			width: 0%;
			background-color: $success-color;
		}

	}

}

div.form-item div.password-suggestions {
	padding: rem-calc(20 20 0);
	border: 1px solid $primary-color;
	color: $primary-color;
	margin: rem-calc(30 0);
	font-size: $form-label-font-size;
}