// pagination

div.item-list {
	margin-top: rem-calc(30);
	margin-bottom: $pagination-margin-bottom;
	@extend .overflow-auto;
	position: relative;
	display: flex;

	&:after {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		width: rem-calc(15);
		height: 100%;
		background: linear-gradient(to left, rgba($white, 1) 0%,rgba($white, 0) 100%);
	}

}

ul.pager {
	@extend .menu;
	transform: translateX(-50%);
	left: 50%;

	> li {

		> a {
			border: 1px solid $iron;
			border-bottom: $anchor-color 2px solid;
			background: linear-gradient(to bottom, $white-smoke 0%, $gainsboro 50%, $iron 100%);
			background-size: auto 200%;
			background-position: 0 0;
			transition: all $transition-time;
			margin-left: rem-calc(-1);

			&:hover,
	        &:focus {
				background-position: 0 100%;
	        }

		}

        &:first-child {

            a {
				margin-left: 0;
				border-bottom-left-radius: $global-radius;
				border-top-left-radius: $global-radius;
            }

        }

        &:last-child {

        	a {
				border-bottom-right-radius: $global-radius;
				border-top-right-radius: $global-radius;
        	}

        }

	}

	> .pager-ellipsis,
    > .pager-current {

		a,
		a:hover,
		a:focus {
			cursor: default;
			background-position: 0 0;
		}


    }

    > .pager-current {

        a,
        a:hover,
        a:focus {
			z-index: 2;
			background: linear-gradient(to bottom, $white 0%, $white-smoke 50%, $gainsboro 100%);
			border-color: $iron;
        }

    }

}

.ajax-progress .throbber,
.views_infinite_scroll-ajax-loader {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='120px' height='120px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' class='uil-ring'%3E %3Ccircle cx='50' cy='50' r='40' stroke-dasharray='163.36281798666926 87.9645943005142' stroke='#{$primary-color-rgb}' fill='none' stroke-width='20'%3E %3C/circle%3E %3C/svg%3E");
	background-size: rem-calc(20);
	width: rem-calc(20);
	height: rem-calc(20);
	// float: left;
	margin: rem-calc(4);
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-duration: $transition-time;
	animation-name: rotating;
}

@keyframes rotating {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}

}

.views_infinite_scroll-ajax-loader {

	img {
		display: none;
	}

}

.pager--infinite-scroll {
	display: flex;
	align-items: center;
	justify-content: center;
}