// logo svg classes

.primary-colour {
	fill: $primary-color;
}

.secondary-colour {
	fill: $secondary-color;
}

.tertiary-colour {
	fill: $tertiary-color;
}

.black {
	fill: $black;
}

.white {
	fill: $white;
}

.primary-colour-stop {
	stop-color: $primary-color;
}

.secondary-colour-stop {
	stop-color: $secondary-color;
}

.tertiary-colour-stop {
	stop-color: $tertiary-color;
}

.black-stop {
	stop-color: $black;
}

.white-stop {
	stop-color: $white;
}

.c3-st0 {
	fill: #D8C5C9;
}

.c3-st1 {
	fill: #001689;
}

.c3-st2 {
	fill: #FFFFFF;
}

.c3-st3 {
	fill: #231F20;
}

.green {
	fill: #00953B;
}

.medium-green {
	fill: #007934;
}

.dark-green {
	fill:#10312B;
}

.pale-yellow {
	fill: #ffc557;
}

.orange {
	fill: #ee7623;
}

.dark-orange {
	fill: #e0592a;
}

.light-blue {
	fill: #009ade;
}