// get header sass map

@function header-size($breakpoint, $size) {
  @return rem-calc(map-get(map-get($header-sizes, $breakpoint), $size) * 1px);
}

// mixins

@mixin small-portrait {
  @media screen and (min-width: -zf-bp-to-em($small)) and (max-width: -zf-bp-to-em($medium - 1px)) and (orientation: portrait) {
    @content;
  }
}

@mixin small-landscape {
  @media screen and (min-width: -zf-bp-to-em($small)) and (max-width: -zf-bp-to-em($medium - 1px)) and (orientation: landscape) {
    @content;
  }
}

@mixin medium-portrait {
  @media screen and (min-width: -zf-bp-to-em($medium)) and (max-width: -zf-bp-to-em($large - 1px)) and (orientation: portrait) {
    @content;
  }
}

@mixin medium-landscape {
  @media screen and (min-width: -zf-bp-to-em($medium)) and (max-width: -zf-bp-to-em($large - 1px)) and (orientation: landscape) {
    @content;
  }
}

@mixin scroll {
	white-space: nowrap;
	overflow-x: scroll;
	position: relative;
	-ms-overflow-style: none;
	-webkit-overflow-scrolling: touch;
}

@mixin see-thru-border {
	padding-top: ($grid-column-gutter-medium / 2);
	padding-bottom: ($grid-column-gutter-medium / 2);
	background: rgba($white, 0.2);
	border-radius: ($global-radius * 1.25);
}

// main styles / reset

a,
a:link,
a h1,
a h2,
a h3,
a h4,
a h5,
.breadcrumbs > * a,
select {
	transition: $transition-time;
}

::selection {
	background: $tertiary-color;
	color: $white;
}

figure {
	margin: 0;
}

iframe {
	border: 0;
}

p {

	&:last-child {
		margin-bottom: 0;
	}

}

a,
input,
select,
textarea,
button {

	&:focus {
		outline: none;
	}

}

table {
	@include scroll;
	width: 100%;
	border: $table-border;
	border-collapse: separate;
}

th {

	&:first-child {
		border-radius: $global-radius 0 0 0;
	}

	&:last-child {
		border-radius: 0 $global-radius 0 0;
	}

}

thead,
tfoot {
	font-size: rem-calc(12);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
}

address {
	font-style: normal;
	margin-bottom: $paragraph-margin-bottom;
}

svg {
	vertical-align: middle;
}

:not(output):-moz-ui-invalid {
   box-shadow: none;
}

.h-center {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.v-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.overflow-auto {
	overflow: auto;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.m-t-30 {
	margin-top: rem-calc(30);
}

.responsive-svg-container {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.responsive-svg {
	max-width: 100%;
	max-height: 100%;
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icons {
	color: $tertiary-color;
	margin-right: 0.5em;
}

.old-browser-notice {
	text-align: center;
	font-weight: $global-weight-bold;
	padding-top: $paragraph-margin-bottom;
	padding-bottom: $paragraph-margin-bottom;
	background-color: $white;
}

.visual-hide {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.text-large {
	font-size: header-size(medium, h4);
}

.element-invisible {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	height: 1px;
}

.views-align-center {
	@extend .text-center;
}

// pagination

ul.pager {
	@extend ul.pagination;

	li {

		&.pager-current {
			@extend li.current;
		}

		a {
			background: $white-smoke;
		}

	}

}

// Drupal css for admin

ul.navbar-menu {
	font-size: inherit;
}

.container-inline {
	
	div,
	label {
		display: inherit;
	}

}

.form-item,
.form-actions {
	margin-top: 0;
	margin-bottom: 0;
}

.search-form {
	margin-bottom: 0;
}

.grippie {
	@extend .hide;
}

th.active {

	img {
		width: initial;
	}

}

.tabs-wrapper {
	position: relative;

	&:after {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		width: rem-calc(15);
		height: 100%;
		background: linear-gradient(to left, rgba($white, 1) 0%,rgba($white, 0) 100%);
	}

}

.tabs.primary {
	border-bottom: 1px solid $iron;
	border-collapse: collapse;
	height: rem-calc(44);
	line-height: normal;
	list-style: none;
	margin: rem-calc(30 0 30);
	padding: rem-calc(0 0 0 16); /* LTR */

	li {
		display: inline;

		&.active {

			a {

				&.active {
					color: inherit;
					background-image: linear-gradient(to bottom, $white 0%, $smoke 50%, $gainsboro 100%);
					border-color: $gainsboro;

					&:hover,
					&:focus {
						background-position: 0 100%;
					}

				}

			}

		}

	}

	a {
		background-image: linear-gradient(to bottom, $snow 0%, $gainsboro 50%, $iron 100%);
		background-size: auto 200%;
		background-position: 0 0;
		transition: all $transition-time;
    border-color: $iron;

    &:not([class]),
		&.active {
    	border-style: solid;
			border-width: 1px;
    	margin-right: rem-calc(8);
			padding: rem-calc(10 28 12);
	    border-top-left-radius: $global-radius;
	    border-top-right-radius: $global-radius;
	    line-height: 2.6;
	    color: inherit;
		}

		&:not([class]) {
			border-bottom: $tertiary-color 2px solid;

			&:hover,
			&:focus {
				background-position: 0 100%;
			}

		}

	}

}

.form-textarea-wrapper {

	textarea {
		margin: rem-calc(36 0 16);
	}

}

.block-region {
	color: $black;
}

.view-content {

	> ul {
		@extend .no-bullet;
	}

}

// main wrapper

.off-canvas-wrapper {
	// overflow: auto;
}

#main-wrapper {
	min-height: 100vh;
	margin-bottom: -$footer-height;

	&:after {
		content: '';
		display: block;
	}

}

#footer,
#main-wrapper:after {
	height: $footer-height;
}

// top bar / header

.top-info {
	margin-bottom: rem-calc(48);
	background: rgba($secondary-color, 0.3);
	padding-top: rem-calc(5);
	padding-bottom: rem-calc(5);
	color: $white;

	@include breakpoint(medium down) {
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	a {

		&:before {
			content: '\00A0\00A0\007C\00A0\00A0';
			color: rgba($tertiary-color, 0.7);
		}

	}

}

.notice {
	float: left;

	@include breakpoint(medium down) {
		float: none;
	}
	
	p {
		margin-bottom: 0;

		@include breakpoint(medium down) {
			padding-top: rem-calc(5);
			padding-bottom: rem-calc(5);
			text-align: center;
		}

	}

}

.right-top-info-links,
.expanding-search {
	float: right;

	@include breakpoint(medium down) {
		display: none;
	}

}

.expanding-search {
	color: $anchor-color;
	position: relative;
	font-size: 1rem;
	transition: $transition-time;
	margin: rem-calc(2 0 0 0);

	.icon {
		position: absolute;
		top: rem-calc(2);
	}

	&:hover {
		color: $anchor-color-hover;
	}

	::-webkit-search-cancel-button {
		display: none;
	}

	input.expanding-search-input {
		position: relative;
		width: rem-calc(20);
		height: rem-calc(20);
		border-style: none;
		border-radius: rem-calc(20);
		padding: rem-calc(0);
		background-color: transparent;
		background-image: none;
		transition: ($transition-time / 2);
		color: transparent;
		overflow: hidden;
		cursor: pointer;
		margin: 0;

		&:focus {
			width: rem-calc(117);
			cursor: text;
			padding: rem-calc(0 0 0 30);
			background-color: $white;

			@include breakpoint(small only){
				width: rem-calc(100);
			}

			&::-webkit-search-cancel-button {
				margin-right: rem-calc(7);
				display: block;
			}

		}

	}

}

.title-bar-logo {
	max-width: rem-calc(227.689);
	max-height: rem-calc(40);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	@media screen and (max-width: -zf-bp-to-em(350)) {
		left: initial;
	}

}

.top-bar-logo {
	width: rem-calc(284.611);
	height: rem-calc(50);
}

#header {
	padding-bottom: rem-calc(48);
	background-color: rgb(149, 159, 162);
	background-image: url("#{$asset-path}/img/images/bg-main.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;

	@include breakpoint(medium down) {
		padding-bottom: 0;
	}

}

.desktop-top-bar {
	display: block;
	@include see-thru-border;

	@include breakpoint(medium down) {
		display: none;
	}

}

.desktop-top-bar,
.title-bar {
	position: relative;
	z-index: 99;
}

.top-bar {
	background: $topbar-background;
	border-radius: $global-radius;
	text-shadow: -1px -1px 0 rgba($white, 0.4);
	box-shadow:
		0 0 0 1px rgba($white, 0.4) inset,
		0 2px 1px 0 rgba($black, 0.15) inset;
}

.top-bar-logo-wrapper {
	display: block;
	padding: rem-calc(0 20);
	height: rem-calc(80);
	line-height: rem-calc(80);
	border-top-left-radius: $global-radius;
	border-bottom-left-radius: $global-radius;
	
	&:hover {
		background: $topbar-link-bg-hover;
	}

}

#main-menu {

	li {

		> a {
			font-weight: bold;
			line-height: rem-calc(80);
			padding: rem-calc(0 20);

			&.active,
			&.active-trail {
				color: $topbar-link-color;
				background: $topbar-link-bg-active;
			}

		}

		&:hover {
			
			> a {
				background: rgba(0, 30, 98, 0.2)
			}

		}

		&:last-child,
		&.last {

			> a {
				border-top-right-radius: $global-radius;
				border-bottom-right-radius: $global-radius;
			}

		}

	}

}

// .top-bar-section {

// 	> ul > li {
//  		background: transparent;

// 		&:last-child,
// 		&.last {

// 			> a {
// 				border-top-right-radius: $global-radius;
// 				border-bottom-right-radius: $global-radius;
// 			}

// 		}

// 	}

// 	li.last:not(.has-form) a:not(.button) {
// 		border-top-right-radius: $global-radius;
// 		border-bottom-right-radius: $global-radius;
// 	}

// 	li.active-trail:not(.has-form) a:not(.button) {
// 		background: $topbar-link-bg-active;

// 		&:hover {
// 			background: $topbar-link-bg-active-hover;
// 		}

// 	}

// 	.has-dropdown {

// 		> a:after {
// 			border-color: rgba($secondary-color, 0.4) transparent transparent;
// 		}

// 	}

// 	.dropdown {
// 		background: linear-gradient(to top, rgba($white, 0.9) 0%, rgba($iron, 0.9) 100%);
// 		box-shadow:
// 			inset 0 0 0 1px rgba($white, 0.4),
// 			inset 0 0 0 2px rgba($black, 0.075),
// 			0 2px 14px 0 rgba($white, 0.4);
// 		border-bottom-left-radius: $global-radius;
// 		border-bottom-right-radius: $global-radius;

// 		li {

// 			&:not(.has-form),
// 			&.active:not(.has-form) {
// 				border-bottom: 1px solid scale-color($vapor, $lightness: -15%);

// 				&:last-child {
// 					border-bottom: none;
// 				}

// 			}

// 			&.active:not(.has-form) {

// 				a:not(.button) {
// 					color: $topbar-dropdown-link-color-hover;
// 					background: transparent;
// 				}

// 			}

// 		}

// 	}

// }

// show for ipad portrait, show mobile portrait and landscape

.title-bar {
	box-shadow:
		0 0 1px 0 rgba($black, 0.5) inset,
		0 1px 6px 0 rgba($black, 0.4);
	text-align: center;
	display: none;

	@include breakpoint(medium down) {
		display: block;
	}

}

.title-bar,
.title-bar-left,
.title-bar-right {
	height: $titlebar-height;
}

.title-bar-left,
.title-bar-right {
	width: rem-calc(60);
}

.title-bar-left {
	border-right: solid 1px scale-color($ghost, $lightness: -30%);
}

.title-bar-right {

	@media screen and (max-width: -zf-bp-to-em(350)) {
		display: none;
	}

}

.menu-icon {
	top: 50%;
	transform: translateY(-12px) rotate(0deg);
	background: transparent;
	box-shadow: none;
	transition: $transition-time;
	padding: 0;
	margin: 0;
	border: none;

	&:hover {
		background: transparent;
	}
	
	&.rotate {
		transform: translateY(-12px) rotate(90deg);
	}

}

.off-canvas-list {
	@extend .no-bullet;
	margin: 0;
	padding: 0;

	.search-input {
		padding: $off-canvas-link-padding;
	}

	input[type="search"] {
		margin: 0;
	}

	label {
		background: $secondary-color-50;
		border-bottom: medium none;
		border-top: 1px solid scale-color($secondary-color-50, $lightness: 14%);
		color: scale-color($secondary-color-50, $lightness: 65%);
		display: block;
		font-size: rem-calc(12);
		font-weight: $global-weight-bold;
		margin: 0;
		padding: rem-calc(4 15);
		text-transform: uppercase;
	}

	a {
		border-bottom: 1px solid scale-color($offcanvas-background, $lightness: -35%);
		color: $white;
		display: block;
		padding: rem-calc(10, 15);
		transition: background 300ms ease 0s;

		&:hover {
			background: rgba($secondary-color, 0.2);
		}

		&.active {
			color: scale-color($secondary-color-50, $lightness: 65%);
			background: rgba($secondary-color, 0.2);
		}

	}

}

.off-canvas {
	height: 100%;
}

.js-off-canvas-exit {
	z-index: 999;
}

// forms & buttons

button,
.button {
	@include button;
	text-transform: uppercase;
	font-weight: $global-weight-bold;
	text-shadow: 0 1px 1px rgba($black, 0.5);
	background-image: linear-gradient($button-background, (scale-color($button-background, $lightness: -30%)));
	background-size: auto 200%;
	background-position: 0 0;
	transition: background-position $transition-time;
	box-shadow: 0 1px 3px 1px rgba($black, 0.2);
	border-color: scale-color($button-background, $lightness: -20%);

	&:hover,
	&:focus {
		background-position: 0 100%;
	}

	.icon {
		filter: drop-shadow( 0 1px 1px rgba($black, 0.5) );
	}

}

input:not([type="submit"]),
textarea,
select {
	font-weight: $global-weight-bold;
}

input:not([type="submit"]),
textarea {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	padding-left: 0;
	padding-top: rem-calc(12);

	&::placeholder {
		color: $input-placeholder-font-color;
		opacity: 1;
	}

	&:focus {
		border-top: 0;
		border-left: 0;
		border-right: 0;
		color: $input-focus-border-color;
	}

	&[aria-invalid="true"] {
		border-color: $alert-color;
	}

	&[aria-invalid="false"] {
		border-color: $success-color;
	}

	&.radius {
		border-radius: $global-radius;
	}

}

input {

	&[type="search"] {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='17' height='17' viewBox='0 0 1024 1024'%3E%3Cpath fill='#{$secondary-color-rgb}' d='M898.304 791.91l-193.485-193.485c29.184-47.872 45.978-104.192 45.978-164.352 0-174.95-151.603-326.502-326.554-326.502-174.95-0.051-316.723 141.773-316.723 316.723 0 174.899 151.603 326.502 326.502 326.502 58.214 0 112.64-15.821 159.488-43.213l194.509 194.611c19.046 18.995 49.92 18.995 68.915 0l48.282-48.282c18.995-18.995 12.083-43.008-6.912-62.003zM205.005 424.294c0-121.139 98.15-219.29 219.238-219.29 121.139 0 229.069 107.878 229.069 229.069 0 121.088-98.202 219.29-219.29 219.29-121.139-0.051-229.018-107.981-229.018-229.069z'%3E%3C/path%3E%3C/svg%3E");
		background-position: rem-calc(9) center;
		background-repeat: no-repeat;
		padding-left: rem-calc(30);

		&:focus {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='17' height='17' viewBox='0 0 1024 1024'%3E%3Cpath fill='#{$secondary-color-rgb}' d='M898.304 791.91l-193.485-193.485c29.184-47.872 45.978-104.192 45.978-164.352 0-174.95-151.603-326.502-326.554-326.502-174.95-0.051-316.723 141.773-316.723 316.723 0 174.899 151.603 326.502 326.502 326.502 58.214 0 112.64-15.821 159.488-43.213l194.509 194.611c19.046 18.995 49.92 18.995 68.915 0l48.282-48.282c18.995-18.995 12.083-43.008-6.912-62.003zM205.005 424.294c0-121.139 98.15-219.29 219.238-219.29 121.139 0 229.069 107.878 229.069 229.069 0 121.088-98.202 219.29-219.29 219.29-121.139-0.051-229.018-107.981-229.018-229.069z'%3E%3C/path%3E%3C/svg%3E");
			background-position: rem-calc(9) center;
			background-repeat: no-repeat;
		}

		&::-webkit-search-decoration,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration {
			display: none;
		}

	}

	&[type="submit"] {
		@extend button;
		line-height: 0.5;
		transition: background-position $transition-time;
	}

}

#form-messages,
.messages {

	&.error {
		color: $alert-color;
	}

	&.success,
	&.status {
		color: $success-color;
	}

}

.messages {
	margin-bottom: $paragraph-margin-bottom;

	ul {
		@extend .no-bullet;
	}

	li {
		display: inline-block;
	}

}

.error {

	input,
	textarea {
		margin-bottom: 1rem;
	}

}

input,
textarea {

	&.error {
		color: $alert-color;
		border-color: $alert-color;
		margin-bottom: 1rem;
	}

}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
	height: rem-calc(20);
	width: rem-calc(20);
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='#{$anchor-color-rgb}' d='M10 1.6c-4.639 0-8.4 3.761-8.4 8.4s3.761 8.4 8.4 8.4 8.4-3.761 8.4-8.4c0-4.639-3.761-8.4-8.4-8.4zM14.789 13.061l-1.729 1.729-3.060-3.061-3.061 3.060-1.729-1.729 3.062-3.060-3.061-3.061 1.729-1.728 3.060 3.060 3.061-3.061 1.729 1.729-3.062 3.061 3.061 3.061z'%3E%3C/path%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center;
	background-size: rem-calc(17);
	cursor: pointer;
}

:focus::-webkit-search-cancel-button {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='#{$anchor-color-hover-rgb}' d='M10 1.6c-4.639 0-8.4 3.761-8.4 8.4s3.761 8.4 8.4 8.4 8.4-3.761 8.4-8.4c0-4.639-3.761-8.4-8.4-8.4zM14.789 13.061l-1.729 1.729-3.060-3.061-3.061 3.060-1.729-1.729 3.062-3.060-3.061-3.061 1.729-1.728 3.060 3.060 3.061-3.061 1.729 1.729-3.062 3.061 3.061 3.061z'%3E%3C/path%3E%3C/svg%3E");
}

textarea {
	margin-top: rem-calc(36);
	border-top: $input-border;

	&:focus {
		border-top: $input-border-focus;
		border-bottom: $input-border-focus;
	}

}

select {
	cursor: pointer;
	color: $body-font-color;

	&.postfix {
		border-width: 0;
	}

}

form {

	.row {

		.postfix-radius.row.collapse {

			input {
				border-radius: $global-radius 0 0 $global-radius;
			}

			.postfix {
				border-radius: 0 $global-radius $global-radius 0;
			}

		}

	}

}

.prefix,
.postfix {
  overflow: visible;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 2;
  line-height: rem-calc(40);
  height: rem-calc(40);
  display: block;
  border-width: 1px;
  border-style: solid;
}

// front page

#banner {
	padding: rem-calc(144 0 96);
	text-transform: uppercase;
	text-align: center;
	color: $gainsboro;

	@include breakpoint(medium down) {
		padding: rem-calc(72 0 36);
	}

	h1,
	h2 {
		color: inherit;
	}

	h1 {
		border: solid 1px $gainsboro;
		border-left: 0;
		border-right: 0;
		margin: rem-calc(0 0 36 0);

		&:before,
		&:after {
			content: '';
			display: block;
			border-color: $gainsboro;
		}

		&:before {
			border-top: solid 1px;
			margin: rem-calc(10 0 20 0);
		}

		&:after {
			border-bottom: solid 1px;
			margin: rem-calc(20 0 10 0);
		}

	}

	p {
		font-size: header-size(medium, h3);
		text-transform: uppercase;
		font-family: $header-font-family;
		margin-top: rem-calc(144);
		margin-bottom: rem-calc(144);
		font-weight: $global-weight-bold;
		
		@include breakpoint(small only) {
			margin-top: rem-calc(72);
			margin-bottom: rem-calc(72);
		}

	}

	h2 {
		margin-top: rem-calc(30);
		border-top: solid 1px $gainsboro;
		padding-top: rem-calc(8);

		&:before {
			content: '';
			display: block;
			border-top: solid 1px $gainsboro;
			height: rem-calc(8);
			padding-top: rem-calc(30);
		}

	}

}

// masthead

.masthead-nav-container {
	position: relative;

	@include breakpoint(medium down) {
		
		&:after {
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			width: rem-calc(20);
			height: 100%;
			background: linear-gradient(to left, rgba(135,47,57, 1) 0%,rgba(135,47,57, 0) 100%);
		}

	}

}

#masthead {
	background:
		linear-gradient(to bottom,
			rgba(scale-color($primary-color, $lightness: 20%, $saturation: -50%), 1) 0%,
			rgba($primary-color, 1) 100%);
	text-align: center;
	color: $white;
	box-shadow: 0 7px 18px -10px rgba($black, 0.7);
	position: relative;
	z-index: 98;

	h1 {
		color: inherit;
		text-shadow: 0 1px 4px rgba($black, 0.5);
		margin: rem-calc(36 -12 36 0);
		letter-spacing: rem-calc(12);
	}

	.menu,
	#masthead .tabs.primary {
		list-style-type: none;
		margin: 0;
		text-align: center;

		li {
			display: inline;
			margin: 0;
			padding: 0;
		}

	}

}

.masthead-nav {
	@extend overflow-auto;
	height: rem-calc(48);
}

.tab-links,
.breadcrumbs,
#masthead .menu,
.tabs.primary {
	
	@include scroll;

	> * {
		position: relative;
		font-weight: $global-weight-bold;
	}

}

.tab-links,
#masthead .menu,
#masthead .tabs.primary {
	width: 100%;
	height: rem-calc(48);
	padding: rem-calc(12 0 0);
  border: 0;
  margin: 0;

  li {
  	vertical-align: baseline;
  }

	a {
		color: $white;
		padding: rem-calc(15 30);
		background: rgba($white, 0.1);
		border-radius: $global-radius $global-radius 0 0;
		line-height: 1.5;
		border: 0;
    margin: 0;
    display: inline;
		
		&:hover,
		&.active {
			background: rgba($white, 0.2);
		}

	}

	@include breakpoint(small only) {

		a {
			padding: rem-calc(15);
		}

	}

}

.breadcrumbs {
	border-radius: $global-radius $global-radius 0 0;
	display: inline-block;
	// vertical-align: top;
	// margin-bottom: rem-calc(-2);
	background-color: rgba($white, 0.1);
	padding: rem-calc(12 30);

	@include breakpoint(small only) {
		width: 100%;
	}

	a {

		&:hover,
		&:focus {
			text-decoration: none;
			color: $anchor-color-hover;
		}

	}

	> :first-child::before {
    content: '';
    margin: 0;
	}

	> * {
		float: none;

		&::before {
			color: $base;
			content: '»';
			margin: rem-calc(0 12);
			position: relative;
			top: 1px;
		}

	}

	> .current {
    color: $white;
    cursor: default;
		
		&:hover {
			color: $white;
			text-decoration: none;
		}

	}

}

// regular pages

.regular-page {
	padding-top: rem-calc(72);
	padding-bottom: rem-calc(72);

	a {

		&:not([class]),
		&.catalogue-link {

			color: inherit;
			border-bottom: $tertiary-color 2px solid;

			&:hover {
				background-color: $tertiary-color;
			}

		}

	}

	img {
		border-radius: $global-radius;
		width: 100%;
	}

	figure {
		color: $white;
		margin-bottom: rem-calc(36);
	}

}

.major-header {
	border-bottom: solid 1px $charcoal;
	margin: rem-calc(0 0 36 0);
	padding-bottom: rem-calc(8);
	position: relative;

	&:after {
		content: '';
		display: block;
		border-bottom: solid 1px $charcoal;
		height: rem-calc(18);
	}

	.catalogue-link {

		@include breakpoint(medium up) {
			position: absolute;
			right: 0;
			top: rem-calc(12);
		}
		
	}

}

// split sections

.split-boxes {
	@include clearfix();
}

.row-split {
	max-width: ($global-width / 2 - $grid-column-gutter-medium);
	width: 100%;

	@include breakpoint(small only) {
		max-width: $global-width;
	}

}

.split-box-left {

	.row-split {
		float: right;
	}

}

.split-box-right {

	.row-split {
		float: left;
	}

}

// about us page

.about-page-container {
	overflow: hidden;
}

.about-page {
	padding-top: rem-calc(144);
	padding-bottom: rem-calc(144);

	@include breakpoint(medium down) {
		padding-top: rem-calc(72);
		padding-bottom: rem-calc(72);
	}

}

.circles {

	@include breakpoint(small only) {
		position: relative;
		height: auto !important;
	}

	&.first,
	&.fifth,
	&.fourth {
		display: flex;
		align-items: center;

		@include breakpoint(small only) {
			display: block;
		}

	}

	&.first,
	&.fifth {
		flex-direction: row-reverse;
		
		.circles-bg {
			left: -50%;
			top: -50%;
		}

	}

	&.first {
		z-index: 4;

		.circles-bg {
			background-color: $tertiary-color-50;
		}

	}

	&.second {
		z-index: 5;
	}

	&.third {
		z-index: 3;
	}

	&.fourth {
		z-index: 1;
		flex-direction: row;
		position: relative;

		.circles-bg {
			background-color: $primary-color-50;
			left: 150%;
			top: -20%;
		}

	}

	&.fifth {
		z-index: 0;

		.circles-bg {
			background-color: $secondary-color-50;
		}

	}

	&.sixth {
		z-index: 1;
	}

	img {
		border-radius: $global-radius;
		width: rem-calc(500);

		@include breakpoint(medium down) {
			width: 100%;
		}

	}

}

.circles-bg {
	height: 170%;
	width: 200%;
	position: absolute;
	z-index: -99;
	transform: translate(-50%);
	border-radius: 50%;
}

.text-blurb	{
	background: rgba(scale-color($secondary-color-50, $lightness: 85%), 0.8);
	border-radius: $global-radius;
	padding: rem-calc(36);
	position: relative;
	z-index: 99;
}

.quote-title {
	color: $primary-color;
	font-style: italic;
	text-transform: lowercase;
	font-size: header-size(medium, h3);
	display: block;
	margin-bottom: rem-calc(20);
}

// search bar

#search-box {
	background-color: $base;
	background-image: url("#{$asset-path}/img/images/swirl.png");
	padding-top: rem-calc(36);
	padding-bottom: rem-calc(36);
	border-bottom: 3px solid $iron;

	.button,
	button,
	input,
	select {
		margin-bottom: 0;
	}

	input:not([type='submit']) {
		padding-top: rem-calc(3);
		padding-bottom: 0;
		box-shadow: 0 1px 3px 1px rgba($black, 0.2);

		&::-webkit-search-cancel-button {
			margin-right: rem-calc(10);
			display: block;
		}

	}

	select {

		&.postfix {
			box-shadow: 1px 2px 3px rgba($black, 0.2);
		}

	}

}

// search results page

.search-form-custom {

		label {
			display: none;
		}

		.form-text {
			box-shadow: 0 1px 3px 1px rgba($black, 0.2);
		}

}

p.search-info {
	margin-bottom: rem-calc(5);
	font-weight: $global-weight-bold;
}

p.search-snippet {
	@extend em;
}

.search-result {
	margin-bottom: rem-calc(30);
}

// advanced search results

.search-advanced {
  border: $fieldset-border;
  margin: $fieldset-margin;
  padding: $fieldset-padding;
  transition: $transition-time ease-in-out;

  &.collapsing {
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    height: 1em;

		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			
			.fieldset-title {
				position: relative;
				top: rem-calc(-11);
			}

		}

  }

  legend {
  	padding: $legend-padding;
  	font-weight: $global-weight-bold;
  	margin: rem-calc(0 -3);
  }

  .fieldset-legend-arrow {
  	@include css-triangle(6px, $primary-color, down);
  	display: inline-block;
  	position: relative;
		top: rem-calc(4);

		&.rotated {
			transform: rotate(-90deg);
			top: 0;
			left: rem-calc(4);
		}

  }

  &.collapsible {

  	.fieldset-legend {
	  	padding-left: rem-calc(4);
	  	display: inline;
	  }

  }

  .fieldset-wrapper {
  	transition: ($transition-time / 2) ease-in-out;
  	opacity: 1;

		&.fade {
			opacity: 0;
		}

  }

	.criterion {
		@extend .row;

		label {
			display: block;
			color: $primary-color;

			&.option {
				display: inline-block;
			}

		}

		.form-type-textfield {
			@extend .small-12, .medium-4, .columns, 
		}

		.form-type-checkboxes {
			@extend .column;
		
			.form-checkboxes {
				display: inline-flex;
			}

		}

	}

}

// category styles

.categories {
	background-image: url("#{$asset-path}/img/images/grey-bg.png");
	background-color: $iron;
	@extend .regular-page;

	&:nth-child(odd) {
		background-image: none;
		background-color: $white;
	}

}

.categories,
.view-safety-data-sheets-main,
.view-product-data-sheets-main,
.view-id-product_ranges {
	text-align: center;
	color: $tuatara;

	p {
		font-size: header-size(medium, h4);
		text-transform: uppercase;
		font-family: $header-font-family;
		font-weight: $global-weight-bold;
		margin-top: rem-calc(30);
		margin-bottom: rem-calc(48);
	}

	h3 {
		margin-top: rem-calc(20);
		margin-bottom: rem-calc(48);

		@include breakpoint(medium down) {
			overflow-wrap: break-word;
		  word-wrap: break-word;
		  hyphens: auto;
		}

	}

	a {

		h3 {
			color: $anchor-color-hover;
		}

		&:hover {

			h3 {
				color: $anchor-color;
			}
		
			.cat-overlay {
				opacity: 1;
			}

		}

	}

}

.laundry-cat,
.industrial-cat,
.education-cat,
.transport-cat,
.healthcare-cat,
.food-processing-cat,
.cleaning-maintenance-cat,
.foodservice-hospitality-cat,
.silhouette-logo {
	fill: currentColor;
}

.prod-cat,
.brand-cat {
	background: $secondary-color;
	border-radius: $global-radius;
	position: relative;
}

.brand-cat {
	padding: rem-calc(36);

	svg {

		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			width: rem-calc(224);
		  height: rem-calc(192);
		}

	}

}

.prod-cat {
	padding: rem-calc(10);

	svg {

		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		  width: rem-calc(224);
		  height: rem-calc(224);
		}

	}

}

.cat-overlay {
	background: rgba($tertiary-color, 0.8);
	color: $secondary-color;
	font-size: header-size(medium, h5);
	font-weight: $global-weight-bold;
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: $transition-time;
	display: flex;
	align-items: center;
	width: 100%;
	border-radius: inherit;

  	&:hover {
  		opacity: 1;
  	}

	span {
		text-align: center;
		width: 100%;
	}

}

// downloads

.download {
	font-size: header-size(medium, h4);
}

// contact

.google-maps-container {
	background-color: $google-maps-bg-colour;
	position: relative;

	&.column,
	&.columns {
		padding: 0;
	}

	iframe {
		height: 100%;
		width: 100%;

		@include breakpoint(small only) {
			height: rem-calc(300);
		}		

	}

  @include breakpoint(small only) {
      height: auto !important;
  }

}

.google-maps-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
}

// login

.login-form-box-wrapper {
	@include see-thru-border;
}

#login-body,
#login-footer {

	a {

		&:not([class]) {

			color: $body-font-color;
			border-bottom: $tertiary-color 2px solid;

			&:hover {
				background: $tertiary-color;
			}

		}

	}

}

#login-header {
	border-bottom: 3px solid $iron;
}

#login-body {
	background-image: url("#{$asset-path}/img/images/grey-bg.png");
	background-color: $iron;
	padding-top: rem-calc(36);
	padding-bottom: rem-calc(72);

	h1 {
		margin-bottom: rem-calc(36);
	}

}

.form-link {
	padding-top: rem-calc(12);
	text-align: right;

	@include breakpoint(small only) {
		text-align: inherit;
	}

}

.login-form-box {
	background: $white;
	border-radius: $global-radius;
	padding: rem-calc(36);
	position: relative;
	z-index: 1;
}

#login-header,
#login-footer {
	background: $white;
	padding-top: rem-calc(36);
	padding-bottom: rem-calc(36);
	text-align: center;
}

#login-footer {
	border-top: 3px solid $iron;

	nav {

		a {
			position: relative;
			margin-right: rem-calc(10);

			&:before {
				position: absolute;
				right: rem-calc(-15);
				content: '\00A0\00A0\007C\00A0';
				color: rgba($body-font-color, 0.7);
			}

			&:last-child {
				margin-right: 0;

				&:before {
					content: '';
				}

			}

		}

	}

}

.login-form-box,
.webform-client-form {

	.form-item {

		label {
			@extend .hide;
		}

	}

}

// site map

.site-map-box-menu > .content > ul.site-map-menu {

	> li {
		@extend .column;
		list-style: none;
		padding-bottom: rem-calc(30);
	}

}

// footer

#footer {
	color: $white;
	text-align: center;
	padding: rem-calc(36 0);
	background:
		radial-gradient(
			ellipse at center,
			rgba(scale-color($secondary-color, $lightness: 5%, $saturation: -10%), 1) 0%,
			rgba($secondary-color, 1) 100%);
	position: relative;
	z-index: 97;

	.footer-logo-link {
		color: inherit;
		
		&:hover {
			color: $anchor-color;
		}

	}

	.menu {
		text-align: center;
		margin: 0;

		> li:not(.menu-text) > a {
			padding: 0;
			display: initial;
		}

		.leaf {
			display: inline-block;
			margin: 0;
			padding: 0;

			a {

				&:after {
					content: '\00A0\00A0\007C\00A0';
					color: rgba($anchor-color, 0.7);
				}

			}

			&:last-child {

				a {

					&:after {
						content: '';
					}

				}

			}

		}

		.active {
			color: $anchor-color;

			&:hover {
				color: $anchor-color-hover;
			}

		}

	}

	.copyright {
		margin-top: rem-calc(20);
	}

}

.footer-logo {
	width: rem-calc(84);
	height: rem-calc(84);
}