// forms & buttons

button,
.button {
	@include button;
	text-transform: uppercase;
	font-weight: $global-weight-bold;
	text-shadow: 0 1px 1px rgba($black, 0.6);
	background-image: linear-gradient($button-background, $button-background-hover);
	background-size: auto 200%;
	background-position: 0 0;
	transition: background-position $transition-time;
	box-shadow: 0 1px 3px 1px rgba($black, 0.2);
	border-color: $tertiary-color-70;

	&:hover,
	&:focus {
		background-position: 0 100%;
	}

	.icon {
		filter: drop-shadow( 0 1px 1px rgba($black, 0.6) );
	}

}

input:not([type="submit"]),
textarea,
select {
	font-weight: $global-weight-bold;
}

input:not([type="submit"]),
textarea {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	padding-left: 0;
	padding-top: rem-calc(12);

	&::placeholder {
		color: $input-placeholder-font-color;
		opacity: 1;
	}

	&:focus {
		border-top: 0;
		border-left: 0;
		border-right: 0;
		color: $input-focus-border-color;
	}

	&[aria-invalid="true"] {
		border-color: $alert-color;
	}

	&[aria-invalid="false"] {
		border-color: $success-color;
	}

	&.radius {
		border-radius: $global-radius;
	}

	&:not(output):-moz-ui-invalid {
	  box-shadow: none;
	}

}

input {

	&[type="search"] {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='17' height='17' viewBox='0 0 1024 1024'%3E%3Cpath fill='#{$secondary-color-rgb}' d='M898.304 791.91l-193.485-193.485c29.184-47.872 45.978-104.192 45.978-164.352 0-174.95-151.603-326.502-326.554-326.502-174.95-0.051-316.723 141.773-316.723 316.723 0 174.899 151.603 326.502 326.502 326.502 58.214 0 112.64-15.821 159.488-43.213l194.509 194.611c19.046 18.995 49.92 18.995 68.915 0l48.282-48.282c18.995-18.995 12.083-43.008-6.912-62.003zM205.005 424.294c0-121.139 98.15-219.29 219.238-219.29 121.139 0 229.069 107.878 229.069 229.069 0 121.088-98.202 219.29-219.29 219.29-121.139-0.051-229.018-107.981-229.018-229.069z'%3E%3C/path%3E%3C/svg%3E");
		background-position: rem-calc(9) center;
		background-repeat: no-repeat;
		padding-left: rem-calc(30);

		&:focus {

			&::-webkit-search-cancel-button {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='#{$anchor-color-hover-rgb}' d='M10 1.6c-4.639 0-8.4 3.761-8.4 8.4s3.761 8.4 8.4 8.4 8.4-3.761 8.4-8.4c0-4.639-3.761-8.4-8.4-8.4zM14.789 13.061l-1.729 1.729-3.060-3.061-3.061 3.060-1.729-1.729 3.062-3.060-3.061-3.061 1.729-1.728 3.060 3.060 3.061-3.061 1.729 1.729-3.062 3.061 3.061 3.061z'%3E%3C/path%3E%3C/svg%3E");
			}

		}

		&::-webkit-search-decoration,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration {
			display: none;
		}

		&::-webkit-search-cancel-button {
			-webkit-appearance: none;
			height: rem-calc(20);
			width: rem-calc(20);
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='#{$anchor-color-rgb}' d='M10 1.6c-4.639 0-8.4 3.761-8.4 8.4s3.761 8.4 8.4 8.4 8.4-3.761 8.4-8.4c0-4.639-3.761-8.4-8.4-8.4zM14.789 13.061l-1.729 1.729-3.060-3.061-3.061 3.060-1.729-1.729 3.062-3.060-3.061-3.061 1.729-1.728 3.060 3.060 3.061-3.061 1.729 1.729-3.062 3.061 3.061 3.061z'%3E%3C/path%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: center;
			cursor: pointer;
			transition: background-image $transition-time;
		}

	}

	&[type="submit"] {
		@extend button;
		line-height: 0.5;
		transition: background-position $transition-time;
	}

}

.error {

	input,
	textarea {
		margin-bottom: 1rem;
	}

}

input,
textarea {

	&.error {
		color: $alert-color;
		border-color: $alert-color;
		margin-bottom: 1rem;
	}

}

textarea {
	margin-top: rem-calc(36);
	border-top: $input-border;

	&:focus {
		border-top: $input-border-focus;
		border-bottom: $input-border-focus;
	}

}

select {
	cursor: pointer;
	color: $body-font-color;

	&.postfix {
		border-width: 0;
	}

}

form {

	.row {

		.postfix-radius.row.collapse {

			input {
				border-radius: $global-radius 0 0 $global-radius;
			}

			.postfix {
				border-radius: 0 $global-radius $global-radius 0;
			}

		}

	}

}

.prefix,
.postfix {
	overflow: visible;
	padding-bottom: 0;
	padding-top: 0;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 2;
	line-height: rem-calc(40);
	height: rem-calc(40);
	display: block;
	border-width: 1px;
	border-style: solid;
}

.captcha {
	margin: rem-calc(30 0);
}

.ajax-progress .throbber {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='120px' height='120px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' class='uil-ring'%3E %3Ccircle cx='50' cy='50' r='40' stroke-dasharray='163.36281798666926 87.9645943005142' stroke='#{$primary-color-rgb}' fill='none' stroke-width='20'%3E %3C/circle%3E %3C/svg%3E");
	background-size: rem-calc(20);
	width: rem-calc(20);
	height: rem-calc(20);
	float: left;
	margin: rem-calc(4);
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-duration: $transition-time;
	animation-name: rotating;
}

@keyframes rotating {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}

}