// top bar / header

.top-info {
	margin-bottom: rem-calc(48);
	background: rgba($secondary-color, 0.3);
	padding-top: rem-calc(5);
	padding-bottom: rem-calc(5);
	color: $white;

	@include breakpoint(medium down) {
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	a {

		&:before {
			content: '\00A0\00A0\007C\00A0\00A0';
			color: rgba($tertiary-color, 0.7);
		}

	}

}

.notice {
	float: left;

	@include breakpoint(medium down) {
		float: none;
	}
	
	p {
		margin-bottom: 0;

		@include breakpoint(medium down) {
			padding-top: rem-calc(5);
			padding-bottom: rem-calc(5);
			text-align: center;
		}

	}

}

.right-top-info-links,
.expanding-search {
	float: right;

	@include breakpoint(medium down) {
		display: none;
	}

}

.expanding-search {
	color: $anchor-color;
	position: relative;
	font-size: 1rem;
	transition: $transition-time;
	margin: rem-calc(2 0 0 0);

	.icon {
		position: absolute;
		top: rem-calc(2);
	}

	&:hover {
		color: $anchor-color-hover;
	}

}

input.expanding-search-input {
	position: relative;
	width: rem-calc(20);
	height: rem-calc(20);
	border-style: none;
	border-radius: rem-calc(20);
	padding: rem-calc(0);
	background-color: transparent;
	background-image: none;
	color: transparent;
	overflow: hidden;
	cursor: pointer;
	margin: 0;

	&::-webkit-search-cancel-button {
		display: none;
	}

	&:focus {
		width: rem-calc(117);
		cursor: text;
		padding: rem-calc(0 0 0 30);
		background-color: $white;
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='17' height='17' viewBox='0 0 1024 1024'%3E%3Cpath fill='#{$secondary-color-rgb}' d='M898.304 791.91l-193.485-193.485c29.184-47.872 45.978-104.192 45.978-164.352 0-174.95-151.603-326.502-326.554-326.502-174.95-0.051-316.723 141.773-316.723 316.723 0 174.899 151.603 326.502 326.502 326.502 58.214 0 112.64-15.821 159.488-43.213l194.509 194.611c19.046 18.995 49.92 18.995 68.915 0l48.282-48.282c18.995-18.995 12.083-43.008-6.912-62.003zM205.005 424.294c0-121.139 98.15-219.29 219.238-219.29 121.139 0 229.069 107.878 229.069 229.069 0 121.088-98.202 219.29-219.29 219.29-121.139-0.051-229.018-107.981-229.018-229.069z'%3E%3C/path%3E%3C/svg%3E");
		background-position: rem-calc(9) center;
		background-repeat: no-repeat;
		transition: width ($transition-time / 2);
		border: none;

		@include breakpoint(small only){
			width: rem-calc(100);
		}

		&::-webkit-search-cancel-button {
			margin-right: rem-calc(7);
			display: block;
			background-size: rem-calc(17);
		}

	}

}

.title-bar-logo {
	max-width: rem-calc(227.689);
	max-height: rem-calc(40);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	@media screen and (max-width: -zf-bp-to-em(350)) {
		left: initial;
	}

}

.top-bar-logo {
	width: rem-calc(284.611);
	height: rem-calc(50);
}

#header {
	padding-bottom: rem-calc(48);
	background-color: rgb(149, 159, 162);
	background-image: url("#{$asset-path}/img/images/bg-main.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;

	@include breakpoint(medium down) {
		padding-bottom: 0;
	}

}

.desktop-top-bar {
	display: block;
	@include see-thru-border;

	@include breakpoint(medium down) {
		display: none;
	}

}

.desktop-top-bar,
.title-bar {
	position: relative;
	z-index: 99;
}

.top-bar {
	background: $topbar-background;
	border-radius: $global-radius;
	text-shadow: -1px -1px 0 rgba($white, 0.4);
	box-shadow:
		0 0 0 1px rgba($white, 0.4) inset,
		0 2px 1px 0 rgba($black, 0.2) inset;
}

.top-bar-logo-wrapper {
	display: block;
	padding: rem-calc(0 20);
	height: rem-calc(80);
	line-height: rem-calc(80);
	border-top-left-radius: $global-radius;
	border-bottom-left-radius: $global-radius;
	
	&:hover {
		background: $topbar-link-bg-hover;
	}

}

#main-menu {

	li {

		> a {
			font-weight: bold;
			line-height: rem-calc(80);
			padding: rem-calc(0 20);

			&.active,
			&.active-trail {
				color: $topbar-link-color;
				background: $topbar-link-bg-active;
			}

		}

		&:hover {
			
			> a {
				background: $topbar-link-bg-hover;
			}

		}

		&:last-child,
		&.last {

			> a {
				border-top-right-radius: $global-radius;
				border-bottom-right-radius: $global-radius;
			}

		}

	}

}

// .top-bar-section {

// 	> ul > li {
//  		background: transparent;

// 		&:last-child,
// 		&.last {

// 			> a {
// 				border-top-right-radius: $global-radius;
// 				border-bottom-right-radius: $global-radius;
// 			}

// 		}

// 	}

// 	li.last:not(.has-form) a:not(.button) {
// 		border-top-right-radius: $global-radius;
// 		border-bottom-right-radius: $global-radius;
// 	}

// 	li.active-trail:not(.has-form) a:not(.button) {
// 		background: $topbar-link-bg-active;

// 		&:hover {
// 			background: $topbar-link-bg-active-hover;
// 		}

// 	}

// 	.has-dropdown {

// 		> a:after {
// 			border-color: rgba($secondary-color, 0.4) transparent transparent;
// 		}

// 	}

// 	.dropdown {
// 		background: linear-gradient(to top, rgba($white, 0.9) 0%, rgba($iron, 0.9) 100%);
// 		box-shadow:
// 			inset 0 0 0 1px rgba($white, 0.4),
// 			inset 0 0 0 2px rgba($black, 0.075),
// 			0 2px 14px 0 rgba($white, 0.4);
// 		border-bottom-left-radius: $global-radius;
// 		border-bottom-right-radius: $global-radius;

// 		li {

// 			&:not(.has-form),
// 			&.active:not(.has-form) {
// 				border-bottom: 1px solid scale-color($vapor, $lightness: -15%);

// 				&:last-child {
// 					border-bottom: none;
// 				}

// 			}

// 			&.active:not(.has-form) {

// 				a:not(.button) {
// 					color: $topbar-dropdown-link-color-hover;
// 					background: transparent;
// 				}

// 			}

// 		}

// 	}

// }

// show for ipad portrait, show mobile portrait and landscape

.title-bar {
	box-shadow:
		0 0 1px 0 rgba($black, 0.6) inset,
		0 1px 6px 0 rgba($black, 0.6);
	text-align: center;
	display: none;

	@include breakpoint(medium down) {
		display: block;
	}

}

.title-bar,
.title-bar-left,
.title-bar-right {
	height: $titlebar-height;
}

.title-bar-left,
.title-bar-right {
	width: rem-calc(60);
}

.title-bar-left {
	border-right: solid 1px $base;
}

.title-bar-right {

	@media screen and (max-width: -zf-bp-to-em(350)) {
		display: none;
	}

}

.menu-icon {
	top: 50%;
	transform: translateY(-12px) rotate(0deg);
	background: transparent;
	box-shadow: none;
	transition: $transition-time;
	padding: 0;
	margin: 0;
	border: none;

	&:hover {
		background: transparent;
	}
	
	&.rotate {
		transform: translateY(-12px) rotate(90deg);
	}

}

.off-canvas-list {
	@extend .no-bullet;
	margin: 0;
	padding: 0;

	.search-input {
		padding: $off-canvas-link-padding;
	}

	input[type="search"] {
		margin: 0;
	}

	label {
		background: $secondary-color-50;
		border-bottom: medium none;
		border-top: 1px solid $secondary-color-25;
		color: $secondary-color-25;
		display: block;
		font-size: rem-calc(12);
		font-weight: $global-weight-bold;
		margin: 0;
		padding: rem-calc(4 15);
		text-transform: uppercase;
	}

	a {
		border-bottom: 1px solid $secondary-color-darker-70;
		color: $white;
		display: block;
		padding: rem-calc(10, 15);
		transition: background $transition-time ease 0s;

		&:hover {
			background: rgba($secondary-color, 0.2);
		}

		&.active {
			color: $secondary-color-25;
			background: rgba($secondary-color, 0.2);
		}

	}

}

.off-canvas {
	height: 100%;
}

.js-off-canvas-exit {
	z-index: 999;
}