// get header sass map

@function header-size($breakpoint, $size) {
  @return rem-calc(map-get(map-get($header-sizes, $breakpoint), $size) * 1px);
}

// mixins

@mixin small-portrait {
  @media screen and #{breakpoint(small down)} and #{breakpoint(portrait)} {
    @content;
  }
}

@mixin small-landscape {
  @media screen and #{breakpoint(small down)} and #{breakpoint(landscape)} {
    @content;
  }
}

@mixin medium-portrait {
  @media screen and #{breakpoint(medium only)} and #{breakpoint(portrait)} {
    @content;
  }
}

@mixin medium-landscape {
  @media screen and #{breakpoint(medium only)} and #{breakpoint(landscape)} {
    @content;
  }
}

@mixin scroll {
  white-space: nowrap;
  overflow-y: hidden;
  position: relative;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;

  @include breakpoint(medium down) {
    overflow-x: scroll;
  }

}

@mixin see-thru-border {
	padding-top: ($grid-column-gutter-medium / 2);
	padding-bottom: ($grid-column-gutter-medium / 2);
	background: rgba($white, 0.2);
	border-radius: ($global-radius * 1.25);
}