// search results page

.search-form-custom {

	label {
		display: none;
	}

	.form-text {
		box-shadow: 0 1px 3px 1px rgba($black, 0.2);
	}

}

p.search-info {
	margin-bottom: rem-calc(5);
	font-weight: $global-weight-bold;
}

p.search-snippet {
	@extend em;

	strong {
		color: $primary-color;
	}

}

.search-result {
	margin-bottom: rem-calc(30);
}

// advanced search results

.search-advanced {
	border: $fieldset-border;
	margin: $fieldset-margin;
	padding: $fieldset-padding;
	transition: 1s ease-in-out;

	&.collapsing {
	    border-bottom: 1px solid transparent;
	    border-left: 1px solid transparent;
	    border-right: 1px solid transparent;

		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

			.fieldset-title {
				position: relative;
				top: rem-calc(-11);
			}

		}

	}

	legend {
		padding: $legend-padding;
		font-weight: $global-weight-bold;
		margin: rem-calc(0 -3);
	}

	.fieldset-legend-arrow {
		@include css-triangle(6px, $primary-color, down);
		display: inline-block;
		position: relative;

		&.rotated {
			transform: rotate(-90deg);
			top: 0;
			left: rem-calc(1);
		}

	}

	&.collapsible {

		.fieldset-legend {
	  		padding-left: rem-calc(4);
	  		display: inline;
	 	}

	}

	.criterion {
		@include grid-row;

		label {
			display: block;
			color: $primary-color;

			&.option {
				display: inline-block;
			}

		}

		.form-type-checkboxes {
			@include grid-column;

			.form-checkboxes {
				display: inline-flex;
			}

		}

	}

}