//  Foundation for Sites Settings
//  -----------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Breakpoints
//   3. The Grid
//   4. Base Typography
//   5. Typography Helpers
//   6. Abide
//   7. Accordion
//   8. Accordion Menu
//   9. Badge
//  10. Breadcrumbs
//  11. Button
//  12. Button Group
//  13. Callout
//  14. Close Button
//  15. Drilldown
//  16. Dropdown
//  17. Dropdown Menu
//  18. Flex Video
//  19. Forms
//  20. Label
//  21. Media Object
//  22. Menu
//  23. Off-canvas
//  24. Orbit
//  25. Pagination
//  26. Progress Bar
//  27. Reveal
//  28. Slider
//  29. Switch
//  30. Table
//  31. Tabs
//  32. Thumbnail
//  33. Title Bar
//  34. Tooltip
//  35. Top Bar

@import 'util/util';

// 1. Global
// ---------

$global-font-size: 100%;
$global-width: rem-calc(1180);
$global-lineheight: 1.5;
$success-color: #3adb76;
$warning-color: #ffae00;
$alert-color: #ec5840;
// $light-gray: #e6e6e6;
// $medium-gray: #cacaca;
// $dark-gray: #8a8a8a;
// $black: #0a0a0a;
// $white: #fefefe;

$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
// $monsoon     : #777777;
// $steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
// $jet         : #222222;
$black       : #000000;

$body-background: $white;
$body-font-color: $oil;
$body-font-family: Eurostile, Helvetica, Roboto, Arial, sans-serif;
$body-antialiased: true;
$global-margin: 1rem;
$global-padding: 1rem;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-radius: rem-calc(8);
$global-text-direction: ltr;

// We use these as default colors throughout
$primary-color: #862633;
$secondary-color: #001e62;
$tertiary-color: #ffc72c;

$primary-color-70: #aa6770;
$secondary-color-70: #4c6191;
$tertiary-color-70: #ffd86b;

$primary-color-50: #c29299;
$secondary-color-50: #7f8eb0;
$tertiary-color-50: #ffe395;

$google-maps-bg-colour: #e5e3df;

// rgb versions
$white-rgb: rgba($white, 0.99);
$black-rgb: rgba($black, 0.99);
$primary-color-rgb: rgba($primary-color, 0.99);
$secondary-color-rgb: rgba($secondary-color, 0.99);
$tertiary-color-rgb: rgba($tertiary-color, 0.99);

$asset-path: "..";
$transition-time: 0.4s;
$footer-height: (rem-calc(181) + rem-calc(36) + rem-calc(36));

// 2. Breakpoints
// --------------

$small: 0;
$medium: 640px;
$large: 1024px;
$xlarge: 1200px;
$xxlarge: 1440px;

$breakpoints: (
  small: $small,
  medium: $medium,
  large: $large,
  xlarge: $xlarge,
  xxlarge: $xxlarge,
);
$breakpoint-classes: (small medium large);

// 3. The Grid
// -----------

$grid-row-width: $global-width;
$grid-column-count: 12;

$grid-column-gutter-small: rem-calc(30);
$grid-column-gutter-medium: rem-calc(30);

$grid-column-responsive-gutter: (
  small: $grid-column-gutter-small,
  medium: $grid-column-gutter-small,
);
$grid-column-align-edge: true;
$block-grid-max: 8;

// 4. Base Typography
// ------------------

$header-font-family: $body-font-family;
$header-font-weight: $global-weight-bold;
$header-font-style: normal;
$font-family-monospace: Consolas, 'Liberation Mono', Courier, monospace;
$header-sizes: (
  small: (
    'h1': 38,
    'h2': 30,
    'h3': 26,
    'h4': 20,
    'h5': 18,
    'h6': 16,
  ),
  medium: (
    'h1': 48,
    'h2': 40,
    'h3': 31,
    'h4': 25,
    'h5': 20,
    'h6': 16,
  ),
);
$header-color: $secondary-color;
$header-lineheight: 1.4;
$header-margin-bottom: 0.5rem;
$header-text-rendering: auto;
$small-font-size: 80%;
$header-small-font-color: $iron;
$paragraph-lineheight: 1.6;
$paragraph-margin-bottom: rem-calc(20);
$paragraph-text-rendering: auto;
$code-color: $black;
$code-font-family: $font-family-monospace;
$code-font-weight: $global-weight-normal;
$code-background: $gainsboro;
$code-border: 1px solid $iron;
$code-padding: rem-calc(2 5 1);
$anchor-color: $tertiary-color;
$anchor-color-hover: scale-color($anchor-color, $lightness: -30%);
$anchor-color-rgb: rgba($anchor-color, 0.99);
$anchor-color-hover-rgb: rgba($anchor-color-hover, 0.99);
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;
$hr-width: $global-width;
$hr-border: 1px solid $iron;
$hr-margin: rem-calc(20) auto;
$list-lineheight: $paragraph-lineheight;
$list-margin-bottom: $paragraph-margin-bottom;
$list-style-type: disc;
$list-style-position: outside;
$list-side-margin: 1.25rem;
$list-nested-side-margin: 1.25rem;
$defnlist-margin-bottom: 1rem;
$defnlist-term-weight: $global-weight-bold;
$defnlist-term-margin-bottom: 0.3rem;
$blockquote-color: $jumbo;
$blockquote-padding: rem-calc(9 20 0 19);
$blockquote-border: 1px solid $iron;
$cite-font-size: rem-calc(13);
$cite-color: $jumbo;
$keystroke-font: $font-family-monospace;
$keystroke-color: $black;
$keystroke-background: $gainsboro;
$keystroke-padding: rem-calc(2 4 0);
$keystroke-radius: $global-radius;
$abbr-underline: 1px dotted $black;

// 5. Typography Helpers
// ---------------------

$lead-font-size: $global-font-size * 1.25;
$lead-lineheight: 1.6;
$subheader-lineheight: 1.4;
$subheader-color: scale-color($charcoal, $lightness: 35%);
$subheader-font-weight: $global-weight-normal;
$subheader-margin-top: 0.2rem;
$subheader-margin-bottom: 0.5rem;
$stat-font-size: 2.5rem;

// 6. Abide
// --------

$abide-inputs: true;
$abide-labels: true;
$input-background-invalid: $alert-color;
$form-label-color-invalid: $alert-color;
$input-error-color: $alert-color;
$input-error-font-size: rem-calc(12);
$input-error-font-weight: $global-weight-bold;

// 7. Accordion
// ------------

$accordion-background: $white;
$accordion-plusminus: true;
$accordion-item-color: foreground($accordion-background, $primary-color);
$accordion-item-background-hover: $gainsboro;
$accordion-item-padding: 1.25rem 1rem;
$accordion-content-background: $white;
$accordion-content-border: 1px solid $gainsboro;
$accordion-content-color: foreground($accordion-background, $primary-color);
$accordion-content-padding: 1rem;

// 8. Accordion Menu
// -----------------

$accordionmenu-arrows: true;
$accordionmenu-arrow-color: $primary-color;

// 9. Badge
// --------

$badge-background: $primary-color;
$badge-color: foreground($badge-background);
$badge-padding: 0.3em;
$badge-minwidth: 2.1em;
$badge-font-size: 0.6rem;

// 10. Breadcrumbs
// ---------------

$breadcrumbs-margin: 0 0 $global-margin 0;
$breadcrumbs-item-font-size: $global-font-size;
$breadcrumbs-item-color: $anchor-color;
$breadcrumbs-item-color-current: $white;
$breadcrumbs-item-color-disabled: $iron;
$breadcrumbs-item-margin: 0.75rem;
$breadcrumbs-item-uppercase: false;
$breadcrumbs-item-slash: true;

// 11. Button
// ----------

$button-padding: rem-calc(16 32 17);
$button-margin: 0 0 $global-margin 0;
$button-fill: solid;
$button-background: $tertiary-color;
$button-background-hover: scale-color($button-background, $lightness: -15%);
$button-color: $white;
$button-color-alt: $black;
$button-radius: $global-radius;
$button-sizes: (
  tiny: 0.6rem,
  small: 0.75rem,
  default: 0.9rem,
  large: 1.25rem,
);
$button-opacity-disabled: 0.25;

// 12. Button Group
// ----------------

$buttongroup-margin: 1rem;
$buttongroup-spacing: 1px;
$buttongroup-child-selector: '.button';
$buttongroup-expand-max: 6;

// 13. Callout
// -----------

$callout-background: $white;
$callout-background-fade: 85%;
$callout-border: 1px solid rgba($black, 0.25);
$callout-margin: 0 0 1rem 0;
$callout-padding: 1rem;
$callout-font-color: $body-font-color;
$callout-font-color-alt: $body-background;
$callout-radius: $global-radius;
$callout-link-tint: 30%;

// 14. Close Button
// ----------------

$closebutton-position: right top;
$closebutton-offset-horizontal: 1rem;
$closebutton-offset-vertical: 0.5rem;
$closebutton-size: 2em;
$closebutton-lineheight: 1;
$closebutton-color: $jumbo;
$closebutton-color-hover: $black;

// 15. Drilldown
// -------------

$drilldown-transition: transform 0.15s linear;
$drilldown-arrows: true;
$drilldown-arrow-color: $primary-color;
$drilldown-background: $white;

// 16. Dropdown
// ------------

$dropdown-padding: 1rem;
$dropdown-border: 1px solid $iron;
$dropdown-font-size: 16rem;
$dropdown-width: 300px;
$dropdown-radius: $global-radius;
$dropdown-sizes: (
  tiny: 100px,
  small: 200px,
  large: 400px,
);

// 17. Dropdown Menu
// -----------------

$dropdownmenu-arrows: true;
$dropdownmenu-arrow-color: $anchor-color;
$dropdownmenu-min-width: 200px;
$dropdownmenu-background: $white;
$dropdownmenu-border: 1px solid $iron;

// 18. Flex Video
// --------------

$flexvideo-margin-bottom: rem-calc(16);
$flexvideo-ratio: 4 by 3;
$flexvideo-ratio-widescreen: 16 by 9;

// 19. Forms
// ---------

// added variables

$input-color: $tertiary-color;

$input-border-style: solid;
$input-border-width: 3px;
$input-placeholder-font-color: $secondary-color;
$input-border-color: $input-color;
$input-focus-border-color: $anchor-color-hover;

$fieldset-border: 1px solid $primary-color-50;
$fieldset-padding: rem-calc(20);
$fieldset-margin: rem-calc(18 0);
$legend-padding: rem-calc(0 3);
$form-spacing: rem-calc(16);
$helptext-color: #333;
$helptext-font-size: rem-calc(13);
$helptext-font-style: italic;
$input-prefix-color: $black;
$input-prefix-background: $gainsboro;
$input-prefix-border: 1px solid $iron;
$input-prefix-padding: 1rem;
$form-label-color: $black;
$form-label-font-size: rem-calc(14);
$form-label-font-weight: $global-weight-normal;
$form-label-line-height: 1.8;
$select-background: $gainsboro;
$select-triangle-color: $oil;
$select-radius: $global-radius;
$input-font-family: inherit;
$input-font-size: rem-calc(16);
$input-background: $white-smoke;
$input-background-focus: $white;
$input-background-disabled: $gainsboro;
$input-border: $input-border-width $input-border-style $input-color;
$input-border-focus: $input-border-width $input-border-style $input-focus-border-color;
$input-shadow: 0;
$input-shadow-focus: 0;
$input-cursor-disabled: default;
$input-transition: all $transition-time ease-in-out;
$input-number-spinners: true;
$input-radius: 0;

// 20. Label
// ---------

$label-background: $primary-color;
$label-color: foreground($label-background);
$label-font-size: $input-font-size;
$label-padding: 0.33333rem 0.5rem;
$label-radius: $global-radius;

// 21. Media Object
// ----------------

$mediaobject-margin-bottom: $global-margin;
$mediaobject-section-padding: $global-padding;
$mediaobject-image-width-stacked: 100%;

// 22. Menu
// --------

$menu-margin: 0;
$menu-margin-nested: 1rem;
$menu-item-padding: 0.7rem 1rem;
$menu-icon-spacing: 0.25rem;
$menu-expand-max: 6;

// 23. Off-canvas
// --------------

$offcanvas-size: rem-calc(250);
$offcanvas-background: $secondary-color-70;
$offcanvas-zindex: -1;
$offcanvas-transition-length: $transition-time;
$offcanvas-transition-timing: ease;
$offcanvas-fixed-reveal: true;
$offcanvas-exit-background: rgba($white, 0.25);
$maincontent-class: 'off-canvas-content';
$maincontent-shadow: 0 0 10px rgba($black, 0.5);

// added variables

$off-canvas-link-padding: rem-calc(10, 15);

// 24. Orbit
// ---------

$orbit-bullet-background: $iron;
$orbit-bullet-background-active: $jumbo;
$orbit-bullet-diameter: 1.2rem;
$orbit-bullet-margin: 0.1rem;
$orbit-bullet-margin-top: 0.8rem;
$orbit-bullet-margin-bottom: 0.8rem;
$orbit-caption-background: rgba($black, 0.5);
$orbit-caption-padding: 1rem;
$orbit-control-background-hover: rgba($black, 0.5);
$orbit-control-padding: 1rem;
$orbit-control-zindex: 10;

// 25. Pagination
// --------------

$pagination-font-size: rem-calc(14);
$pagination-margin-bottom: $global-margin;
$pagination-item-color: $black;
$pagination-item-padding: rem-calc(3 10);
$pagination-item-spacing: rem-calc(1);
$pagination-radius: $global-radius;
$pagination-item-background-hover: $gainsboro;
$pagination-item-background-current: $primary-color;
$pagination-item-color-current: foreground($pagination-item-background-current);
$pagination-item-color-disabled: $iron;
$pagination-ellipsis-color: $black;
$pagination-mobile-items: false;
$pagination-arrows: true;

// 26. Progress Bar
// ----------------

$progress-height: 1rem;
$progress-background: $iron;
$progress-margin-bottom: $global-margin;
$progress-meter-background: $primary-color;
$progress-radius: $global-radius;

// 27. Reveal
// ----------

$reveal-background: $white;
$reveal-width: 600px;
$reveal-max-width: $global-width;
$reveal-offset: rem-calc(100);
$reveal-padding: $global-padding;
$reveal-border: 1px solid $iron;
$reveal-radius: $global-radius;
$reveal-zindex: 1005;
$reveal-overlay-background: rgba($black, 0.45);

// 28. Slider
// ----------

$slider-height: 0.5rem;
$slider-width-vertical: $slider-height;
$slider-background: $gainsboro;
$slider-fill-background: $iron;
$slider-handle-height: 1.4rem;
$slider-handle-width: 1.4rem;
$slider-handle-background: $primary-color;
$slider-opacity-disabled: 0.25;
$slider-radius: $global-radius;
$slider-transition: all 0.2s ease-in-out;

// 29. Switch
// ----------

$switch-background: $iron;
$switch-background-active: $primary-color;
$switch-height: 2rem;
$switch-height-tiny: 1.5rem;
$switch-height-small: 1.75rem;
$switch-height-large: 2.5rem;
$switch-radius: $global-radius;
$switch-margin: $global-margin;
$switch-paddle-background: $white;
$switch-paddle-offset: 0.25rem;
$switch-paddle-radius: $global-radius;
$switch-paddle-transition: all 0.25s ease-out;

// 30. Table
// ---------

$table-background: $white;
$table-color-scale: 5%;
$table-border: 1px solid scale-color($secondary-color-50, $lightness: 50%);
$table-padding: rem-calc(8 10 10);
$table-hover-scale: 2%;
$table-row-hover: darken($table-background, $table-hover-scale);
$table-row-stripe-hover: darken($table-background, $table-color-scale + $table-hover-scale);
$table-striped-background: scale-color($secondary-color-50, $lightness: 90%);
$table-stripe: even;
$table-head-background: $secondary-color-50;
$table-foot-background: smart-scale($table-background, $table-color-scale);
$table-head-font-color: $white;
$show-header-for-stacked: false;

// 31. Tabs
// --------

$tab-margin: 0;
$tab-background: $white;
$tab-background-active: $gainsboro;
$tab-border: $gainsboro;
$tab-item-color: foreground($tab-background, $primary-color);
$tab-item-background-hover: $white;
$tab-item-padding: 1.25rem 1.5rem;
$tab-expand-max: 6;
$tab-content-background: $white;
$tab-content-border: $gainsboro;
$tab-content-color: foreground($tab-background, $primary-color);
$tab-content-padding: 1rem;

// 32. Thumbnail
// -------------

$thumbnail-border: solid 4px $white;
$thumbnail-margin-bottom: $global-margin;
$thumbnail-shadow: 0 0 0 1px rgba($black, 0.2);
$thumbnail-shadow-hover: 0 0 6px 1px rgba($primary-color, 0.5);
$thumbnail-transition: box-shadow 200ms ease-out;
$thumbnail-radius: $global-radius;

// 33. Title Bar
// -------------

$titlebar-background: linear-gradient(to bottom, $white 0%, $iron 100%);
$titlebar-color: $white;
$titlebar-padding: 0;
$titlebar-text-font-weight: bold;
$titlebar-icon-color: $secondary-color;
$titlebar-icon-color-hover: $secondary-color-70;
$titlebar-icon-spacing: 0;

// added variables

$titlebar-height: rem-calc(60);

// 34. Tooltip
// -----------

$tooltip-background-color: $black;
$tooltip-color: $white;
$tooltip-padding: 0.75rem;
$tooltip-font-size: $small-font-size;
$tooltip-pip-width: 0.75rem;
$tooltip-pip-height: $tooltip-pip-width * 0.866;
$tooltip-pip-offset: 1.25rem;
$tooltip-radius: $global-radius;

// 35. Top Bar
// -----------

$topbar-padding: 0;
$topbar-background: $titlebar-background;
$topbar-link-color: $secondary-color;
$topbar-input-width: 200px;

// added variables

$topbar-link-bg-hover: rgba($topbar-link-color, 0.2);
$topbar-link-bg-active: rgba($topbar-link-color, 0.1);
$topbar-link-bg-active-hover: $topbar-link-bg-hover;
$topbar-dropdown-link-color-hover: $secondary-color-50;
